.benefits {
  display: flex;
  padding-top: 95px;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--black-color);
    margin: 24px;
  }

  &__text {
    display: block;
    line-height: 1.7;
    /* or 171% */
    color: var(--grey-color);
    margin: 24px;
  }
}

@media screen and (max-width: 480px) {
.benefits{

  &__list {
      flex-direction: column;
      
    } 
}
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}
