.navbar {
  display: flex;
  align-items: center;
  padding: 24px;

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-align: right;
    color: var(--brand-color);
    margin-right: 93px;
  }

  &__button {
    display: flex;
    position: relative;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button.active::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0px;
    top: 43px;
    background: var(--brand-color);
    border-radius: 2px;
  }

  &__button:hover {
    color: var(--brand-color);
  }

  &__list &__button,
  &__list &__button {
    text-decoration: underline;
  }

  .menu-toggle {
    display: none;
    min-height: 40px;
    min-width: 40px;

    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    position: absolute;
    top: 16px;
    right: 16px;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    color: var(--brand-color);
  }
    .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 32px;
      background-color: #ffffff;
      z-index: 999;
  
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
    }
  
    .menu-container.is-open {
      transform: translateX(0);
    }
  
    .menu-container .menu-toggle {
      position: absolute;
      top: 16px;
      right: 16px;
      color: #fff;
    }
}



























@media screen and (max-width: 768px) {
  .navbar {
    &__logo {
      margin-right: 60px;
    }
    &__button.active::after {
      top: 54px;
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    &__list {
      display: none;
    }
    .menu-toggle {
      display: flex;
    }
    &__button.active::after {
      display: none;
    }
  }
}
